{
	"parser": "babel-eslint",
	"env": {
		"es6": true,
		"browser": true,
		"node": true
	},
	"rules": {
		"indent": ["error", 4],
		"require-jsdoc": "off",
		"arrow-parens": "off",
		"comma-dangle": "off",
		"no-unused-vars": "off",
		"prefer-const": 'off',
		"operator-linebreak": "off",
		"max-len": "off",
		"keyword-spacing": "off"
	},
	"extends": ["eslint:recommended", "google"],

}